<%= form_for(plate) do |f| %>
  <% if plate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plate.errors.count, "error") %> prohibited this plate from being saved:</h2>

      <ul>
      <% plate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

  </div>


    <div class="row">
      <div class="small-12 medium-2 columns text-right">
        <%= f.label :state, class: 'inline' %>
      </div>
      <div class="small-12 medium-10 columns">
        <%= f.text_field :state %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-2 columns text-right">
        <%= f.label :code, class: 'inline' %>
      </div>
      <div class="small-4 medium-2 columns end">
        <%= f.text_field :code %>
      </div>
    </div>


    <div class="row">
      <div class="small-12 medium-2 columns text-right">
        <%= f.label :geocode %>
      </div>
      <div class="small-12 medium-10 columns">
        <%= f.text_field :geocode %>
      </div>
    </div>

    <div class="row">

      <div class="small-12 medium-10 medium-offset-2 columns">
        <%= f.submit class: 'button ' %>
        <%= link_to 'Back', plates_path, class: 'button secondary' %>
      </div>
    </div>

  </div>

<% end %>
