
<div class="row">
  <div class="small-12 medium-8 medium-offset-4 columns text-right">
    <%= link_to "Back to Game", current_game_path, class: 'button secondary small expand' %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-8 columns right">
    <%= render partial: 'shared/map', locals: { game: @current_game } %>
  </div>
    <div class="small-12 medium-4 columns left">
      <% @leaders.each do | leader | %>
        <h3><%= leader[:player] %>: <%= leader[:total_points] %></h3>
        <ul class="small-block-grid-3 medium-block-grid-2">
          <% leader[:states].each do | state | %>
            <li><%= state[:state] %> - <%= state[:points] %>pts</li>
            <% end %>
        </ul>
      <% end %>
    </div>
</div>


<hr>
