<%= form_for(spoil) do |f| %>
  <% if spoil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spoil.errors.count, "error") %> prohibited this spoil from being saved:</h2>

      <ul>
      <% spoil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %>
    <%= f.text_field :game_id %>
  </div>

  <div class="field">
    <%= f.label :player_id %>
    <%= f.text_field :player_id %>
  </div>

  <div class="field">
    <%= f.label :plate_id %>
    <%= f.text_field :plate_id %>
  </div>

  <div class="field">
    <%= f.label :points %>
    <%= f.number_field :points %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
