<div class="row">
  <div class="small-8 medium-10 columns">
  <h2><%= @tour.name %></h2>
  </div>

  <div class="small-4 medium-2 columns">
    <%= link_to 'Back', tours_path, class: 'button secondary' %>
  </div>
</div>


<div class="row">
  <div class="small-12 medium-12 columns">
    <p>From <%= @tour.start_on %> to <%= @tour.end_on %> </p>
  </div>
</div>


<div class="row">
  <div class="small-12 medium-12 columns">
      <p><%= @tour.games.count %> combined games.</p>
      <p><%= @tour.spoils.count %> combined spoils and <%= @tour.unique_spoils.count %> unique spoils.</p>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 columns">
    <%= render partial: 'shared/map', locals: {spoils: @tour.unique_spoils } %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 columns">
    <%= render partial: 'shared/leaders', locals: {leaders: @leaders } %>
    <%= render partial: 'shared/unclaimed_plates', locals: {unclaimed_plates: @unclaimed_plates } %>
  </div>
</div>
