<div class="game-list-item">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <p><%= invite.title %></p>
    </div>
    <div class="small-12 medium-6 columns medium-text-right small-text-center">
      <ul class="button-group radius">
        <li><%= link_to 'Play', play_game_path(invite.game), class: 'button success tiny' %></li>

        <% if @active_player == invite.game.owner %>
          <li><%= link_to 'Details', invite.game, class: 'button  tiny' %></li>
          <li><%= link_to 'Complete', complete_game_path(invite.game), class: 'button secondary tiny' %></li>
          <li><%= link_to 'Remove', invite.game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button warning tiny' %></li>
        <% end %>
    </ul>
    </div>
  </div>
</div>
