<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">
    <%= f.label :tour_id %>

    </div>
    <div class="small-12 medium-10 columns">
      <%= f.collection_select :tour_id, @tours, :id, :name, prompt: "This is a standalone game" %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">
      <%= f.label :title %>
    </div>
    <div class="small-12 medium-10 columns">
      <%= f.text_field :title %>
    </div>

  </div>


  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">
    <%= f.label :game_type_id %>

    </div>
    <div class="small-12 medium-10 columns">
      <%= f.collection_select :game_type_id, GameType.all, :id, :name, prompt: "Please select the type of game" %>
    </div>
  </div>



  <div class="row">
    <div class="small-12 medium-2 medium-text-right columns">
    <%= f.label :bonus_count %>

    </div>
    <div class="small-4 medium-2 columns end">
      <%= f.select :bonus_count, options_for_select(0..10) %>
    </div>
  </div>

  <div class="row">
    <div class="small-12  medium-10 medium-offset-2 columns end">
      <%= f.check_box :use_images, class: 'inline' %>
      <%= f.label :use_images, "Use license plate images instead of boring blocks and stuff" %>
    </div>
  </div>

  <div class="row">
    <div class="small-12  medium-10 medium-offset-2 columns end">
      <%= f.check_box :allow_player_switching, class: 'inline' %>
      <%= f.label :allow_player_switching, "Allow players to select active players from within the game" %>
    </div>
  </div>


  <div class="row">
    <div class="small-12 medium-2 medium-offset-2 columns">
      <%= f.submit "Save", class: 'button expand' %>
    </div>
    <div class="small-12 medium-3 columns end">
      <%= link_to "Back to Games", games_path, class: 'button secondary expand' %>
    </div>
  </div>

<% end %>
