<div class="row">
  <div class="small-12 columns">



    <div class="row">
      <div class="small-8 columns">
        <h2>Games</h2>
      </div>
      <div class="small-4 text-right columns">
        <%= link_to 'New Game', new_game_path, class: 'expand small button' %>
      </div>
    </div>

        <% if @games.empty? %>
          <p>You have no active games. <%= link_to 'Start One', new_game_path %> now.</p>
        <% end %>

        <% @games.each do |game| %>
          <%= render partial: 'active_game', locals: {invite: game}  unless game.is_completed%>
        <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns ">
    <div class="sub-game-box">

    <h3>Pending Games</h3>

    <% if @invitations.empty? %>
      <p>You have no invitations currently.</p>
    <% end %>

    <% @invitations.each do |i| %>
      <div class="pending-game-list-item">
        <div class="row">
          <div class="small-6 medium-6 columns">
            <p><%= i.game.title %></p>
          </div>
          <div class="small-6 medium-6 columns medium-text-right small-text-center">
                <%= link_to 'Accept', accept_invite_path(i.token), class: 'button  tiny' %>
          </div>
        </div>
      </div>
    <% end %>
    </div>

  </div>

  <div class="small-12 medium-6 columns ">
    <div class="sub-game-box">

    <h3>Completed Games</h3>

    <% if @completed_games.empty? %>
      <p>You have no completed games.</p>
    <% end %>

    <% @completed_games.each do |game| %>

      <div class="completed-game-list-item">
        <div class="row">
          <div class="small-6 medium-6 columns">
            <p><%= game.title %></p>
          </div>
          <div class="small-6 medium-6 columns medium-text-right small-text-center">
            <ul class="button-group radius">
                <li><%= link_to 'Details', game, class: 'button  tiny' %></li>
              <% if @active_player == game.owner %>
                <li><%= link_to 'Remove', game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button warning tiny' %></li>
              <% end %>
          </ul>
          </div>
        </div>
      </div>
    <% end %>

  </div>
  </div>
