<p id="notice"><%= notice %></p>

<h1>Games</h1>

    <% @games.each do |game| %>
      <div class="game-list-item">
        <div class="row">
          <div class="small-6 columns">
            <%= game.title %>
          </div>
          <div class="small-6 columns">
            <%= game.game_type %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns text-right">
            <ul class="button-group radius">
              <li><%= link_to 'Play', play_game_path(game), class: 'button tiny' %></li>
              <li><%= link_to 'Details', game, class: 'button tiny' %></li>
              <li><%= link_to 'Edit', edit_game_path(game), class: 'button tiny' %></li>
              <li><%= link_to 'Complete', edit_game_path(game), class: 'button tiny' %></li>
              <li><%= link_to 'Remove', game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny' %></li>
          </ul>
          </div>
        </div>
      </div>
    <% end %>

<div class="row">
  <div class="small-6 columns">
    <%= link_to 'New Game', new_game_path, class: 'button' %>
  </div>
</div>
