<% if @game.title.present? %>
  <h2><%= @game.title %></h2>
<% end %>

<p><b>Game type:</b> <%= @game.game_type %> </p>
<p><b>Game Bonuses:</b> <%= @game.bonuses.count %> </p>

<div class="row">
  <div class="small-12 columns">
      <h3>Invite Players</h3>
      <%= render 'invite_form' %>

      <h3>Current Players</h3>

      <div id="player-list" game_id="<%= @game.id %>"></div>

  </div>
</div>

<div class="row">
  <div class="small-6 medium-offset-2 medium-3 columns">
    <%= link_to 'Play', play_game_path(@game), class: 'expand button success' %>
  </div>
  <div class="small-6 medium-3 columns end ">
    <%= link_to 'Update Settings', edit_game_path(@game), class: 'expand button secondary' %>
  </div>
</div>
