<% if @game.title.present? %>
<div class="row">
  <div class="small-12 columns">
    <h2><%= @game.title %></h2>
  </div>
</div>
<% end %>
<div class="row">
  <div class="small-6 columns">
    <p class="underlined"><b>Type:</b> <span class="right"><%= @game.game_type %> </span></p>
  </div>
  <div class="small-6 columns">
    <p class="underlined"><b>Bonus Plates:</b> <span class="right"><%= @game.bonuses.count %></span></p>
  </div>
</div>

<% if @game.tour %>
  <div class="row">
    <div class="small-6 columns end">
      <p class="underlined"><b>Tour:</b> <span class="right"><%= link_to @game.tour.name, @game.tour %> </span></p>
    </div>
  </div>
<% end %>

<div id="invite-players" class="row">
  <div class="small-12 columns">
      <h3>Invite Up to 4 Players</h3>
      <p id="closed-message" style="display:none"></p>
      <%= render 'invite_form' %>
      <%# raw "<p><i>You have reached the maximum of 4 players.</i></p>" unless (@game.players.count) < 4 %>
      <h3>Current Players</h3>
      <div id="player-list" game_id="<%= @game.id %>"></div>

  </div>
</div>

<div class="row">
  <div class="small-6 medium-offset-2 medium-3 columns">
    <%= link_to 'Play', play_game_path(@game), class: 'expand button success' %>
  </div>
  <div class="small-6 medium-3 columns end ">
    <%= link_to 'Update Settings', edit_game_path(@game), class: 'expand button secondary' %>
  </div>
</div>
