<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table class="display">
  <thead>
    <tr>
      <th>Email</th>
      <th>Owned Games</th>
      <th>Games</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.email %></td>
        <td><%= player.owned_games.count %></td>
        <td><%= player.games.count %></td>
        <td>
          <%= link_to 'Show', player %> |
          <%= link_to 'Edit', edit_player_path(player) %> |
          <%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
