<footer>
  <div class="row">
    <div class="small-6 columns ">
      <p>Copyright <%= Time.now.year %> | Arpcentral.net
      </p>
    </div>
    <div class="small-6 columns text-right">
      <% if @active_player %>
        <p>Logged in as <%= @active_player.email %> | <%= link_to 'Logout', logout_path %></p>

        <% if @active_player.super? %>
          <p><%= link_to 'Dashboard', dashboard_path %>: <%= link_to 'Plates', plates_path %> | <%= link_to 'Players', players_path %></p>
        <% end %>
      <% end -%>
    </div>

  </div>
</footer>


<!--
  cid:
  <%= ENV["TECTONIC_CLIENT_ID"] %>

-->
