
          <% if @current_game %>
            <li class="has-dropdown">
                <a href="#">Current Game</a>
                <ul class="dropdown">
                  <li><a href="/play">Play</a></li>
                  <li><a href="/games/<%= cookies[:current_game_id] %>">Invite Players</a></li>
                  <li><a href="/play/table">Map and Details</a></li>
                  <li><a href="/play/timeline">Game Timeline</a></li>
                  <li><a href="/games/<%= cookies[:current_game_id] %>/edit">Update Current Game</a></li>
                  <li><a href="/games/<%= @current_game.id %>/complete">Complete Game</a></li>
                </ul>
            </li>
          <% end %>


          <% if @active_player %>
            <li class="has-dropdown">
                <a href="#">Games</a>
                <ul class="dropdown">
                  <li><a href="/games">My Games</a></li>
                  <% if cookies[:current_game_id] %><li><a href="/play">Current Game</a></li><% end %>
                  <li><a href="/games/new">New Game</a></li>
                  <li><a href="/tours">Tours</a></li>

                </ul>
            </li>

            <% if @active_player.super? %>
              <li class="has-dropdown hide-for-medium-only">
                <a href="#">Admin</a>
                  <ul class="dropdown">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/players">Manage players</a></li>
                    <li><a href="/plates">Manage Plates</a></li>
                  </ul>
              </li>
              <% end %>

              <li>
                  <%= link_to 'Logout', logout_path %>
              </li>
            <% else %>
              <li>
                <%= link_to 'Login', login_path %>
              </li>
            <% end %>
            <li>
              <%= link_to 'About the Game', '/' %>
            </li>
