<div class="row messages" id="message-box">
  <div class="small-12 columns text-center">
    <span id="message-text" class="message-text">
      <%= flash[:notice]  if flash[:notice] %>
      <%= flash[:message]  if flash[:message] %>
      <%= flash[:warning]  if flash[:warning] %>
      <%= flash[:alert]  if flash[:alert] %>
      <%=raw flash[:message_raw] if flash[:message_raw]%>
    </span>
    <span id="close-message-x" class="messages-close">X</span>
  </div>
</div>
